body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#status {
    font-size: 24px;
    color: green;
}
#status.offline {
    color: red;
}
#container{
    display: inline-block;
    position: relative;
    padding: 10px;
    /* border-radius: 10px; */
    background: rgb(94, 66, 32);
    text-align: left;
    visibility: hidden;
    /* width: 100vmin; */
}
.icon-motd{
    display: flex;
    align-items: center;
}
#image{
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
#motd {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 10px;
}
#players{
    position: absolute;
    top:0;
    left:100%;
    width: 180px;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    opacity: 0;
    visibility: hidden; /* 기본적으로 숨김 */
    transition: visibility 0.5s, opacity 0.5s ease;
}
#ping-players{
    display: flex;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 5px;
    align-items: center;
    text-align: right;
}
#playerOnPing{
    font-size: 10px;
    color: white;
    margin-right: 3px;
}
#ping-icon{
    height: 15px;
    width: 12px;
    margin-left: 2px;
}
#container:hover #players {
    opacity: 1;
    visibility: visible;
    /* 아니 아이콘에 올리면 펴지게 바꿔야하는데 */
}
#players p{
    margin: 10px;
}
#players img{
    float: left;
    margin-right: 5px;
}
#otherservercheak{
    visibility: hidden;
}
#moreInfo{
    visibility: hidden;
}
#infoSummary{
    width: 200px;
    height: 100px;
    font-size: 12px;
    text-align: left;
    margin: 0 auto;
}